<ion-view view-title="Add Employee" ng-controller="EmployeeController as vm">
 <ion-content>
 <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="Name" ng-model="employee.Name">
      </label>
      <label class="item item-input">
        <input type="date" placeholder="Birthday" ng-model="employee.Date">
      </label>
      <div class="padding">
        <button ng-click="vm.AddEmployee(employee)" class="button button-block button-positive activated">Save</button>
      </div>
  </ion-content>
</ion-view>
